kind: Service
apiVersion: v1
metadata:
  name: employeecare-svc
  namespace: mypfe
  labels:
    name: employeecare-app
spec:
  ports:
    - name: app-http 
      port: 8080      
      targetPort: 8080  
      protocol: TCP
  selector:           
    app: employeecare-app
  type: ClusterIP
  #ClusterIP: None   
---
apiVersion: apps/v1 
kind: Deployment    
metadata:              
  name: employeecare-app
  namespace: mypfe
spec:                
  selector:         
    matchLabels:
      app: employeecare-app
  replicas: 1     
  template:
    metadata:
      labels:        
        app: employeecare-app
    spec:
      containers:
        - name: employeecare-app
          image: ziedcloud2020/employeecare:1.0
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 200m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 500Mi          
          env:   
          - name: DB_HOST   
            valueFrom: 
              configMapKeyRef:
                name: database-configuration 
                key: host
          - name: DB_NAME  
            valueFrom:
              configMapKeyRef:
                name: database-configuration 
                key: name
          - name: DB_USERNAME  
            valueFrom:
              secretKeyRef:
                name: database-user
                key: username
          - name: DB_PASSWORD 
            valueFrom:
              secretKeyRef:
                name: database-user
                key: password